.container-fluid {
    margin: auto;
    width: 30%;
    margin-top: 2rem;
    box-shadow: 0 .5rem 1.5rem;
    text-align: center;
}

.btn {
    margin-right: 5rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


.btn-dark {
    background-color: #6dabe4;
}

.btn:hover {
    background-color: rgb(4, 4, 68);
}



h1 {
    font-size: 2.5rem;
    color: rgb(1, 18, 83);
    font-weight: bolder;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.form-control {
    background-color: #eee;
    border: none;
    width: 100%;
    margin-bottom: 0.5rem;
}

.details1 {
    margin-top: 4rem;
}

@media (max-width: 1221px) {


    .details1 {
        width: 50%;
    }

    .container-fluid {
        width: 100%
    }


}

@media (min-width: 400px) {



    .container-fluid {
        width: 60%
    }


}

@media (min-width: 1000px) {
    .container-fluid {
        width: 30%
    }
}